/*GLOBAL*/
*:hover, *:focus, *:active {
    outline: none !important;
}

* { font-family: 'Noto Sans KR', 'Sans-serif'; }
strong {
  font-weight: 700 !important;
}
a {
  color: #272727 !important;
  text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /* margin-top: 0; */
  margin-bottom: 20px;
  /* line-height: 1.4; */
  color: #202020;
  letter-spacing: -0.01em;
}
.table thead th, .table thead td, .table tbody th, .table tbody td {
  font-weight: 300 !important;
  color: #202020;
  padding: 10px;
}

@media (max-width: 991px) {
  .display-1 {
    font-size: 42px !important;
  }
}

@media (max-width: 767px) {
  h5, .h5 {
  font-size: 14px !important;
} }
.text-gray-soft {
  color: #838E95 !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-margin {
  margin-bottom: 0 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

/*NAV*/
.navbar {
  border-bottom: 1px solid #E5E9EF;
  background-color: white;
}

.navbar-brand {
  font-size: 16px !important;
  color: #28a745 !important;
  padding: 8.5px 0;
  font-weight: 500;
  margin-top: -1px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  border: none !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40,167,69, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; 

 } 

@media (max-width: 576px) {
  .nav-link {
   font-weight: 300;
  }

}


/*INDEX*/
#main_img {
  margin: 0 auto;
  display: block;
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
}
.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
}



/*LIST*/
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #28a745;
  outline: none !important;
  box-shadow: none !important;
}

.type_search {
  color: white !important;
  font-weight: 500;
  margin: 0.35em !important;
  font-size: 0.9em !important;
}

.list-group-item {
  border-top: 0 !important;
}

#random_button {
  border-radius: 25px;
  margin-bottom: 0.75rem
}
@media (max-width: 991px) {
  .input-group-lg > .input-group-btn > input.button {
    height: 40px;
    font-size: 14px;
  }
}


/*ENTER*/
#res_title {
  margin: 0 0.8em;
}

#remove_button {
  height: 1.5em;
  line-height: 1.5em;
}

.btn-lg {
  margin-left: 0 !important
}





/*DETAIL*/
#report_button {
  color: #D50000 !important;
}
.comment_time {
  font-size: 60% !important;
  font-weight: 300 !important;
}

.carousel {
  padding: 1rem;
  margin: 1rem -15px 0;
  border: 0.2em solid #f7f7f9 !important;
}

.carousel_img {
    width: 80em; 
    height: 30em !important;
    object-fit: cover;
}
.caption-block {
  background-color: rgba( 0, 0, 0, 0.8 );
  padding: 0.1em 0.3em;
}
@media (max-width: 576px) {
 .carousel_img {
    width: 25em !important; 
    height: 15em !important;
  }
}

.menu_subtitle {
  border: none !important;
}



/*footer*/


#footer {
  border-top: 1px solid #E5E9EF;
  padding: 0.5em 0;
}


